<div class="container">
  <br>
  <div class="row">

      <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for repos here" #gitsearchrepo>
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="githubSearchrepo(gitsearchrepo)">
                <span class="input-group-addon bg-white border-left-0"><i class="ion-search"></i></span>search
              </button>
            </div>
          </div>
          <br>

          <div id="repos">
              <div *ngFor='let object of searchrepo; let j = "repositories"'>
        
                <div class="col-md-12 ">
                  
                 
                    <p><a href="{{object.html_url}}">{{object.name}}</a></p> 
         
                </div>
              </div>
             </div>
        </div>
    
  

    
   
   
 

 
 
    <div class="col-md-8">
      <div class="row">
          <div class="col-md-6">
              <hr>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for users here" #gitsearch>
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="githubSearch(gitsearch)">
                      <span class="input-group-addon bg-white border-left-0"><i class="ion-search"></i></span>search
                    </button>
                  </div>
                </div>
          
              </div>
        
        

      </div>
      <br>

      <div class="row">
      <div class="col-md-6" *ngFor='let search of searchgit; let i = "index"'>
        <div  class="card">
          <div class="card-body">
            
              <h5 appHighlight class="card-title" ><img src="{{search.avatar_url}}" class="rounded-circle"
                  alt="Cinque Terre" width="50" height="50">
                {{search.login}} </h5>

                <p  class="card-text"><a href="{{search.html_url}}">{{search.login}}'s GitHub Link</a> </p>
            
          </div>
        </div>

        

      </div>
    </div>
    </div>
 
      

  </div>

   



</div>
