<div class="container">
  <br>
  <div class="row">
    <div class="col-md-4">
      <hr>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" #gitsearch>
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="githubSearch(gitsearch)">
            <span class="input-group-addon bg-white border-left-0"><i class="ion-search"></i></span>search
          </button>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <hr>
    </div>

  </div>

  <div class="row">

  
    
      <div class="col-md-4" *ngFor='let search of searchgit; let i = "index"'>
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h5 (click)="searchRepo(gitsearch)"><img src="{{search.avatar_url}}" class="rounded-circle"
                  alt="Cinque Terre" width="50" height="50">
                {{search.login}} </h5>
            </div>
          </div>
        </div>
      </div>
    
 


    <div class="row">
      <div class="col-md-2" *ngFor='let object of searchrepo; let i = "index"'>

        <div class="card ">
          <div class="card-body">
            <p class="card-text">{{object.name}}</p>



          </div>
        </div>

      </div>
    </div>

  </div>


</div>
