<div class="container">
  <div class="row">
    <div class="col-md-4 user d-flex justify-content-center text-white">
       <p>add some text here</p>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/github.svg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">User Name</p>

                <button class="btn btn-primary">Repos</button>
            </div>

        </div>
    
    </div>
    <div class="col-md-4 user d-flex justify-content-center text-white">
        <p>add search component here</p>
     </div>
    
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Card Title</h3>
                    <p class="card-text">Content of the card.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>  

    
  </div>
</div>