<div class="container">
  <div class="row">
    <div class="col-md-4 user d-flex justify-content-center text-white">
       <p>add some text here</p>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{user.name}}</p>

                <button class="btn btn-primary" (click)="getRepos()">REPOs</button>
            </div>

        </div>
    
    </div>
    <div class="col-md-4 user d-flex justify-content-center text-white">
        <p>add search component here</p>
     </div>
    
        <div class="col-sm-4" *ngFor='let repo of result; let i = "index"'>
            <div class="card">
                <div class="card-body" >
                    <h3 class="card-title">{{repo.name}}</h3>
                    <p class="card-text"><a href="{{repo.html_url}}">{{repo.html_url}}</a></p>
                   
                </div>
            </div>
        </div>  

    
  </div>
 
  
      
</div>

